@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.header{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D1D5DB;
    box-shadow: 3px 3px 3px #9CA3AF;
}

.header > div{
    font-size: 40px;
    font-weight: 700;
}

.container{
    display: grid;
    justify-content: center;
    align-items: center;
}

.gameboard{
    display:absolute;
    margin-top: 150px;
    height: 400px;
    width: 400px;
    border:solid black 1px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

#cell{
    border: 1px solid #D1D5DB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.display{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    flex-direction: column;
    z-index: 1;
    height: 70px;
}

#restart{
    padding: 15px 25px;
    margin-top:20px;
    border-radius: 5px;
    border: none;
    cursor:pointer;
}

